<footer>
    <p> <i class="fa-solid fa-at"></i> Email: drinkklubben@email.se</p>
     <p> <i class="fa-solid fa-map-location-dot"></i>  Adress: Drinkvägen 1 <br>123 45 Stockholm</p>
 
     <p> <i class="fa-solid fa-phone"></i> Telefonnummer: 070 - 123 45 67</p>
</footer>
</body>
</html>