<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://kit.fontawesome.com/565431073f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Drinkklubben</h1>
      <nav>
        <a class="nav" href="/">Startsida</a>
        <a class="nav" href="/members">Medlemslista</a>
        <a class="nav" href="/members/create">Registrera ny medlem</a>
      </nav>
    </header>
  </body>
</html>
