<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Drinkklubben</h1>
    <nav>
      <a href="/">Startsida</a>
      <a href="/members">Medlemslista</a>
      <a href="/members/create">Registrera ny medlem</a>

  </nav>
  </header>  