<%- include ("header") %>
<main>

<section>
  <h2>Välkommen till Drinkklubben</h2>
  <p class="start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum repudiandae voluptas dolorem veritatis. Laborum reprehenderit, consectetur architecto ipsa quae non, reiciendis est laboriosam laudantium natus voluptatum delectus, quos inventore. Omnis modi neque aut iure temporibus blanditiis nam consequatur quae, corrupti illo deserunt sint consequuntur qui veritatis, perferendis dolores inventore consectetur.</p>
</section>
</main>

  <%- include ("footer") %>