<%- include ("header") %>
<main>
  <h2>Medlemslista</h2>
  <div>
    <a class="btn" href="/members/sort/asc">Sortera A-Ö</a>
    <a class="btn" href="/members/sort/desc">Sortera Ö-A</a>
    <a class="btn" href="/members">Standard sortering</a>
  </div>

  <ul>
    <% members.forEach(member => {%>
    <a class="member" href="/member/<%= member._id %>">
      <li><i class="fa-solid fa-user"></i> <%= member.name%></li>
    </a>
    <% }) %>
  </ul>
</main>
<%- include ("footer") %>
